<footer>
    <div id="icons">
        <a href="">Instagram</a>
        <a href="">Facebook</a>
        <a href="">LinkedIn</a>
    </div>
    <p>&#169; RestNest Private Limited</p>
    <div id="others">
        <a href="">Privacy</a>
        <a href="">Terms</a>
    </div>
</footer>
