<!-- <nav>
  <div id="navcont">
    <div id="part1">
      <a href="/">Home</a>
      <a href="/listings">All Listings</a>
      <a href="/listings/new">New Listings</a>
    </div>
    <div id="logo">
      <img src="/css/restnestlogo2.png" alt="" height="95">
    </div>
    <div id="part2">
      <a href="/about">About Us</a>
      <a href="/signin">Sign In</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
</nav> -->










<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top m-0 p-0">
    <div class="container-fluid sticky-top" style="background-color: rgba(255, 248, 220, 0.408);">
      <a class="navbar-brand" href="#">
        <img src="/css/restnestlogo.png" alt="" height="100rem">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">New Listings</a>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
