<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top m-0 p-0">
    <div class="container-fluid sticky-top" style="background-color: rgba(255, 248, 220, 0.408);">
      <a class="navbar-brand" href="#">
        <img src="/css/restnestlogo.png" alt="" height="100rem">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">New Listings</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %>
            <a class="nav-link" href="/users/signup">Signup</a>
            <a class="nav-link" href="/users/login">login</a>
          <% } %>
          <% if(currentUser) { %>
            <a class="nav-link" href="/users/logout">logout</a>
          <% } %>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
