* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C1C19;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #f8f8f8;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
footer {
    height: 10vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    font-size: 3vw;
}

/* cards */
/* .row {
    padding: 1rem;
} */
.card {
    border: none;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.card-body {
    padding: 0.5rem;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 1;
    background-color: #f8f8f848;
}