* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C1C19;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    /* background-color: #fff5f0; */
    background-color: #f8f8f8;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
footer {
    height: 25vh;
    width: 100vw;
    background-color: rgba(255, 248, 220, 0.408);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer a {
    color: #222;
}
footer #icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.725vw;
}
footer p {
    font-size: 1.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
footer #others {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.listing-card {
    border: none;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.card-body {
    padding: 0.5rem;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 1;
    background-color: #f8f8f848;
}