<% layout("/layouts/boilerplate") %>
<body>
    <h3 style="padding: 1rem 0 0 1rem;">All Listing</h3>
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-es-1" style="padding: 1rem;">
        <%for( let listing of allListing ) { %>
        <a href="/listings/<%=listing._id%>">
            <div class="card listing-card col">
                <img src="<%=listing.image.url%>" class="card-img-top " alt="#listing_image" style="height: 18rem;">
                <div class="card-img-overlay">
                    <p class="card-text"><small style="color: #000000;"">view</small></p>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%=listing.title%></b> <br>
                    &#8377 <%=listing.price.toLocaleString("en-IN")%> / night
                  </p>
                </div>
            </div>
        </a>
        <%}%>
    </div>
</body>