<% layout("/layouts/boilerplate") %>
<body>
    <h1>Add New Listing :</h1>
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" placeholder="Enter Title"> <br><br>
        <textarea name="listing[description]" placeholder="Enter description"></textarea> <br><br>
        <input type="url" name="listing[image]" placeholder="Enter Image URL"> <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price"> <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location"> <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country"> <br><br>
        <button>Add</button>
    </form>
</body>
